.title{
	    margin-top: -55px;
	    font-family: 'Mali', cursive;
}
h1{
    color:#fafafa;
    font-size: 3.3125rem;
}
p {
    font-size: 1.5rem;
    margin: 0 0 10px;
    line-height: 3rem;
    text-align: center;
}
.btn{
	font-size:1.3rem;
}
footer ul li{
	display: flex;

}

